#dm_chart_histogram1{
    height: 200px;
    width: 300px;
  }

#dm_chart_histogram2{
    height: 200px;
    width: 300px;
  }

#dm_chart_histogram3{
    height: 200px;
    width: 300px;
  }
#pi_chart_container{
	height: 400px;
}